### Android ###
# Built application files
*.apk
*.ap_

# Gradle files
.gradle/
build/

# Intellij
*.iml
.idea/

# Other stuff do disregard
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
